	body {
			background-image: url('../images/bgimage.jpg');
		}

		.container {
			background-color: #fff;
			margin: 0 auto;
			font-family: 'Basic', sans-serif;
			max-width: 1000px;
			overflow: auto;
		}

		.jumbotron {
			font-family: 'Press Start 2P', cursive, sans-serif;
			width: 100%;
			padding: 80px 40px;
			box-sizing: border-box;
			text-align: center;
			color: #fff;
			background-color: #aaa;
			background-image: url('../images/benjamin-hung-340384-unsplash.jpg');
			background-size: cover;
			position: relative;
		}

		.jumbotron h2 {
			position: relative;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.2;
		}

		.navbar-nav {
			float: none;
			margin: 0 auto;
			display: table;
		}

		 h1{
			text-align: center;
		}

		.thumbnail {
			background-color: #fff;
			text-align: center;
			padding: 10px;
			width: 250px;
			margin: 10px;
			float: left;
		}

		.thumbnail img {
			width: 100%;
			height: auto;
		}

		.thumbnail a {
			text-decoration: none;
		}

		.thumbnail a:hover {
			color: #DA70D6;
		}


		footer {
			background-color: #e7e7e7;
			color: #000;
			min-height: 15px;
			padding: 20px 0;
		}

		footer p {
			font-size: 12pt;
			text-align: center;
		}